<app-navbar></app-navbar>
<div class="container clear">

  <div class="row equipo-item">
    <div class="col-md-2 separador-vertical">
      <img src="//placehold.it/100x100" class="img-responsive center-block">
    </div>
    <div class="col-md-9">
      <h2 class="titulo-equipo">Nombre</h2>
      <h5>Ref. Prod</h5>
      <p class="texto-equipo">Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor. Aliquam mauris arcu, tristique a lobortis vitae,
        condimentum feugiat justo.</p>
      <h6>PVP Bruto</h6>
    </div>
  </div>
</div>