<app-navbar></app-navbar>
<div class="container clear">

  <div class="row equipo-item">
    <div class="col-md-3 separador-vertical">
      <img src="//placehold.it/100x100" class="img-responsive center-block">
    </div>
    <div class="col-md-9">
      <h2 class="titulo-equipo">TITULO</h2>
      <p class="texto-equipo">Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor. Aliquam mauris arcu, tristique a lobortis vitae,
        condimentum feugiat justo.</p>
    </div>
  </div>


  <div class="row equipo-item">
    <div class="col-md-3 separador-vertical">
      <img src="//placehold.it/100x100" class="img-responsive center-block">
    </div>
    <div class="col-md-9">
      <h2 class="titulo-equipo">TITULO</h2>
      <p class="texto-equipo">Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor. Aliquam mauris arcu, tristique a lobortis vitae,
        condimentum feugiat justo.</p>
    </div>
  </div>
</div>