.separador-vertical{
    border-right:1px solid #bfbdbd;
}
    
.titulo-equipo{
    margin-top:0px;
}
    
.equipo-item{
    border:	1px solid #D1CFCF ;
    padding: 10px;
    border-radius:10px;
    margin-bottom:25px;
}

.clear{
    padding-top: 40px;
}