<app-navbar></app-navbar>
<div class="container clear">
  <form >
      <div class="form-group">
          <label for="referenciaProducto">Referencia: </label>
          <input type="text" class="form-control" id="referenciaProducto" aria-describedby="referenciaProd" placeholder="REF-xxxxxx">
      </div>
    <div class="form-group">
      <label for="nombreProducto">Nombre:</label>
      <input type="text" class="form-control" id="nombreProducto" aria-describedby="nombreProd" >
    </div>
    <div class="form-group">
        <label for="descripcionProducto">Descripcion:</label>
      <textarea class="form-control" id="descripcionProducto" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="pvpBrutoProducto">Precio Bruto:</label>
        <input type="number" class="form-control" id="pvpBrutoProducto" aria-describedby="pvpBrutoProd" >
      </div>
    <div class="form-group">
      <label for="imgProducto">Selecciona imagen</label>
      <input type="file" class="form-control-file" id="imgProducto" aria-describedby="imgProd">
      <small id="imgProducto" class="form-text text-muted">Selecciona la imagen que deseas adjuntar al producto.</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
