<app-navbar></app-navbar>
<div class="clear"></div>
<table class="table mx-auto">
  <thead>
    <tr>
      <h3 class="mx-auto">Usuarios</h3>
    </tr>
    <tr class="cabecera">
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Editar/Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users">
      <td>{{item.name}}</td>
      <td>{{item.surname}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.address}}</td>
      <td>
        <img src="../../assets/misc/edit.png" style="width: 12%"  class="editIcon" (click)="edit(item)">
        <img src="../../assets/misc/empty_bin.png" style="width: 15%" class="editIcon" (click)="delete(item)">
      </td>
    </tr>
  </tbody>
</table>